{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 box-shadow">
            <div class="card-header">
                <h4 class="card-title text-center">{{ object.name }}</h4>
            </div>
            <img class="card-img-top" src="{{ object.image|get_image }}" alt="{{ object.name }}" width="350"
                 height="200">
            <div class="card-body mt-3">
                <p class="card-text mb-0">Категория: {{ object.category }}</p>
                <p class="card-text mb-0" style="height: 5em; overflow: hidden;">Описание:
                    {{ object.description|slice:'100' }}{% if object.description|length > 100 %}...{% endif %}</p>
                <p class="card-text mb-0">Цена: {{ object.price }} руб.</p>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <a href="{% url 'catalog:product_detail' object.pk %}"
                       class="btn btn-lg btn-primary mx-2">Подробнее</a>
                    <a href="#" type="button" class="btn btn-lg btn-success mx-2">В корзину</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ object_list.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">Следующая</a>
            <a href="?page={{ object_list.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
