{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <img class="card-img-top" src="{{ object.image|get_image }}" alt="{{ object.name }}">
                <div class="card-body">
                    <p class="card-text"><strong>Категория:</strong> {{ object.category }}</p>
                    <p class="card-text"><strong>Описание:</strong> {{ object.description }}</p>
                    <p class="card-text"><strong>Цена:</strong> {{ object.price }} руб.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
